/* 折线图表组件样式 */
.h5_component_Rader{ 
}
.h5_component_Rader canvas{
	position: absolute; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.h5_component_Rader .text{
	position: absolute; 
	font-size: 12px;
	transition: all 1s;
}
